<h1>My Notes App</h1>

<input type="text" placeholder="Write your Note Titel" [(ngModel)]="newTitle" />
<input
  type="text"
  placeholder="Write your Note Text"
  [(ngModel)]="newText"
  class="text"
/>

<button (click)="addTodo()">Add</button>

<div *ngFor="let note of notes" class="notes-container">
  <h2>{{ note.noteTitle }}</h2>
  <p>{{ note.noteText }}</p>
</div>

<!-- ********Another way without subsrcibe in typescript******** -->

<!-- <div *ngFor="let item of item$ | async" class="container">
  <h2>{{ item.noteTitle }}</h2>
  <p>{{ item.noteText }}</p>
</div> -->
